.todoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}